eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/



  datasource:
    url: jdbc:mysql://localhost:3306/fooddb?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: "root"
    password: "Lavanya@123"
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect